@import "mocha.css"; 

* {
    border: 4px;
    border-radius: 4px;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: 500;
    font-size: 16px;
    padding: 0;
}

#waybar {

  background-color: @mauve;
  border-radius: 2px;
  opacity: 0.95;

}

window#waybar {
    background: #1d2021;
    border: 3px solid @mauve;
    color: @mauve;
    border-left: 3px solid @mauve;
    border-right: 3px solid @mauve;
}

tooltip {
    background-color: #1d2021;
    border: 2px solid @mauve;
    color: @mauve;
}

#custom-power,
#clock,
#bluetooth,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 6px 6px 6px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 6px 0px 6px 6px;
    padding: 2px 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 4px;
    margin: 3px;
}

#workspaces button.active{
    background-color: transparent;
    color: @mauve;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    color: @lavender;
    border: 2px solid @mauve;
}

#tray {
    border: 2px solid @mauve;
}

#bluetooth,
#custom-power,
#battery {
    color: @lavender;
    border: 2px solid @mauve;
}

#cpu,
#memory {
    color: @lavender;
    border: 2px solid @mauve;
}

#network {
    color: @lavender;
    border: 2px solid @mauve;
}
#pulseaudio {
    border: 2px solid @mauve;
    color: @lavender;
}

#cpu.critical,
#memory.critical {
    border: 2px solid @maroon;
    color: @maroon;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    background-color: #1d2021;
    border: 2px solid @maroon;
    color: @maroon;
}
